/* BASIC STYLES HERE */
.questionBackground1 {
    background-color: rgb(0, 116, 0);
}

.questionBackground2 {
    background-color: rgb(0, 0, 142);
}

.questionBackground3 {
    background-color: rgb(120, 120, 2);
}

.questionBackground4 {
    background-color: rgb(141, 0, 0);
}